@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Roboto', sans-serif;
}

.first-section{
    background-color: #1f2937;
}

.navbar{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-bottom: 50px;
}

.navbar-left{
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.navbar-right{
    width: 50%;
    justify-content: center;
    align-items: center;
}



#header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{
    font-size: 18px;
    color: #e5e7e8;
    margin: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.content{
    display: flex;
    flex-direction: row;
    /* margin: 50px; */
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 90px;

}

img{
    margin-bottom: 50px;
    margin-right: 250px;
}


.p-first{
    font-size: 18px;
    color: #e5e7e8;
}

.sign-up-first-section{
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px #3882f6;
    border-radius: 6px;
    margin-top: 10px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin-top: 30px;
}

.row-of-blue-divs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-blue{
    width: 200px;
    height: 200px;
    margin: 30px;
} 

.second-section-photo{
    border: 2px solid #3882f6;
    height: 200px;
    width: 200px;
    border-radius: 15px;

}

.p-second{
    font-size: 18px;
    margin: 30px;
    text-align: center;
    margin: 30px;

}